<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 全局性懒加载。延迟加载，false，所有相关联的实体都被初始化加载 -->
		<setting name="lazyLoadingEnabled" value="false"/>
	</settings>
	<typeAliases>
		<package name="cn.appsys.pojo"/>
	</typeAliases>
</configuration>